page-about {
  .AboutInfo
  {
    position: relative;
    text-align: center;
    margin-top: 0px;
    padding: 0px;
    margin: 0px;
    margin-top: -5px;
  }

  .AboutTitle {
    font-size: 28px;
    font-weight: bold;
    color: #00b0eb;
  }

  .backgroundImage
  {
    position: absolute;
  }

  .slides
  {
    height: auto;
  }

  .AboutText
  {
    overflow: hidden;
    width: 100%;
  }

  .AboutTextLeft
  {
    float: left;
    width: 35%;
    position: absolute;
    margin-top: -30px;
  }

  .AboutTextRight
  {
    float: right;
    width: 70%;
    text-align: right;
    direction: rtl;
    padding: 15px;
  }
}
