
<ion-header>
  <ion-toolbar no-border-top class="ToolBarClass">
    <div class="ToolBarBackButton">
      <button  ion-button icon-only clear navPop>
        <ion-icon name="ios-arrow-back-outline"></ion-icon>
      </button>
    </div>
    <div class="ToolBarTitle">
      <ion-title>
        <img src="images/head_logo.png" class="headLogo"  />
      </ion-title>
    </div>
  </ion-toolbar>
</ion-header>


<ion-content>

  <!-- Slider -->

  <!--<ion-slides class="slides" pager="true">
      <ion-slide>
        <img src="images/home/home_img.jpg" style="width:100%;" />
      </ion-slide>
      <ion-slide>
        <img src="images/home/home_img_1.jpg" style="width:100%" />
      </ion-slide>
      <ion-slide>
        <img src="images/home/home_img_2.jpg" style="width:100%" />
      </ion-slide>
  </ion-slides> -->

    <div class="AboutInfo">
        <img src="images/home/1.jpg" style="width:100%" />
    </div>

  <!-- Info
  <div class="AboutInfo">
    <img src="images/home/bar.jpg" style="width:100%" />
  </div>

  <div class="AboutText"><br>
    <div class="AboutTextRight">
      המכשיר הכי חכם שקיים בעולם הוא הגוף שלנו.
      <br><br>
      שיטת 647 לוקחת את עולם ההרזיה והכושר צעד קדימה ומזמינה אותך לחשוב אחרת,
      <br>
      להכיר את הגוף שלך מחדש, להבין מה הוא המזון שאנו אוכלים,

      להחליף הרגלים, להזיע בשגרת אימונים בשיטת T4P
      <br><br>
      לעמוד תחת משטר דיווח תזונה קפדני,
      <br>
      לקבל תמיכה מחברים בקבוצה ולצאת לחיים בריאים יותר.
      <br><br>
      זה לא הולך להיות קל, אבל זה מצליח.

    </div>
    <div class="AboutTextLeft">
      <img src="images/home/home_side_img.png" style="width:100%" />
    </div>
  </div>-->

  <!-- Youtube -->
  <!--<iframe width="100%" height="215" src="https://www.youtube.com/embed/Y61Zr7jGlMs" frameborder="0" allowfullscreen></iframe>-->
  <video controls="controls" preload="metadata" autoplay="autoplay" webkit-playsinline="webkit-playsinline" class="videoPlayer"  style="width: 100%">
    <source src="http://www.tapper.co.il/647/647.mp4" type="video/mp4" style="width: 100%" />
  </video>

    <div class="AboutInfo" style="margin-top: 2px;">
        <img src="images/home/2.jpg" style="width:100%" />
    </div>


</ion-content>
