
<ion-header>
    <ion-toolbar no-border-top class="ToolBarClass">
        <div class="ToolBarBackButton">
            <button  ion-button icon-only clear navPop>
                <ion-icon name="ios-arrow-back-outline"></ion-icon>
            </button>
        </div>
        <div class="ToolBarTitle">
            <ion-title>
                <img src="images/head_logo.png" class="headLogo"  />
            </ion-title>
        </div>
    </ion-toolbar>
</ion-header>


<ion-content>
    <!-- background Image -->
    <div class="backgroundImage">
        <img src="images/trainings_bck.jpg" class="imageclass"/>
    </div>

    <!-- QuestionInfo  -->
    <div class="QuestionInfo" align="center">
        <div class="QuestionTitle">
         הרשם למערכת
        </div>
        <div style="width: 100%" align="center">
            <ion-item class="inputIdentify" align="center">
                <ion-input type="tel" name="title" [(ngModel)]="Identity" placeholder="הכנס מספר תעודת זהות"></ion-input>
            </ion-item>
        </div>
        <button ion-button class="IntroButton" (click)="CheckConnect()">המשך</button>
    </div>
</ion-content>
