page-login {
  .backgroundImage
  {
    position: absolute;
  }

  .QuestionInfo
  {
    position: relative;
    text-align: center;
    margin-top: 20px;
  }

  .QuestionTitle
  {
    font-size: 28px;
    font-weight: bold;
    color: #00b0eb;
  }

  .inputIdentify
  {
    width: 80%;
    margin-top: 10px;
    text-align: right !important;
    direction: rtl;
    border-bottom: 3px solid #56c9ef;
  }

  .IntroButton
  {
    margin-top: 20px;
    width: 30%;
  }

}
