<!--
  Generated template for the DayAfterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar no-border-top class="ToolBarClass">
    <div class="ToolBarBackButton">
      <button  ion-button icon-only clear navPop>
        <ion-icon name="ios-arrow-back-outline"></ion-icon>
      </button>
    </div>
    <div class="ToolBarTitle">
      <ion-title>
        <img src="images/head_logo.png" class="headLogo"  />
      </ion-title>
    </div>
  </ion-toolbar>
</ion-header>


<ion-content class="Content">
  <div class="mainImage">
    <img src="images/after/bck1.png" style="width: 100%" />
  </div>

  <div class="mainButton" (click)="gotoWeightPage()">
    <img src="images/after/11.png" style="width: 100%;" />
  </div>

</ion-content>
