page-day-after {
  .Content
  {
    background-image: url('../images/after/back.png');
    background-size:100% 100%;
    background-position: 0px 50px;
    background-repeat: no-repeat;
  }

  .mainImage
  {
    margin-top: 30px;
  }

  .mainButton
  {
    width: 90%;
    margin: auto;
    margin-top: 20px;
  }
}
