<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-toolbar no-border-top class="ToolBarClass">
        <div class="ToolBarBackButton">
            <button ion-button icon-only clear (click)="goHome()">
                <ion-icon name="ios-arrow-back-outline"></ion-icon>
            </button>
        </div>
        <div class="ToolBarTitle">
            <ion-title>
                <img src="images/head_logo.png" class="headLogo"/>
            </ion-title>
        </div>
        <button class="logOutButton" clear (click)="LogOut()">
            <p>התנתק</p>
        </button>
    </ion-toolbar>
</ion-header>


<ion-content>
    <div class="blueStrip">
        <div class="blueStripOpacity"></div>
        <div class="mainIcon">

            <button ion-button clear class="Height100 no-padding"><img src="images/main_icon_1.png"
                                                                       (click)="gotoMeals()" class="imageButtonClass"/>
            </button>
            <button ion-button clear class="Height100 no-padding"><img src="images/main_icon_2.png"
                                                                       (click)="gotoWeightPage()"
                                                                       class="imageButtonClass"/></button>
            <button ion-button clear class="Height100 no-padding"><img src="images/main_icon_3.png"
                                                                       (click)="gotoTrainings()"
                                                                       class="imageButtonClass"/></button>
            <button ion-button clear class="Height100 no-padding"><img src="images/main_icon_4.png" (click)="gotoChat()"
                                                                       class="imageButtonClass"/></button>
            <button ion-button clear class="Height100 no-padding"><img src="images/main_icon_5.png" (click)="gotoDayAfter()"
                                                                       class="imageButtonClass"/></button>
        </div>
    </div>
    <div class="backgroundImage">
        <img src="images/appback.jpg" class="imageclass"/>
    </div>


</ion-content>
