page-trainings {
  .Content
  {
    background-image: url('../images/trainings_bck.jpg');
    background-size:100% 100%;
    background-position: 0px 50px;
    background-repeat: no-repeat;
  }

  .footerClass
  {
    height:50px;
  }

  .footerClass img
  {
    top:0px;
    position: relative;
    width: 100%;
    height:50px;
  }

  .trainigInfo
  {
    position: relative;
    text-align: center;
    margin-top: 20px;
  }

  .trainingsTitle {
    font-size: 28px;
    font-weight: bold;
    color: #00b0eb;
  }

  .backgroundImage
  {
    position: absolute;
  }

  .TraningInfo
  {
    overflow: hidden;
    width: 100%;
    margin-top: 10px;
  }

  .leftTraningInfo
  {
    float: left;
    width: 25%;
    color: #282828;
    margin-top:5px;
  }

  .rightTraningInfo
  {
    float: left;
    width: 65%;
    text-align: left;
    font-weight: bold;
    color: #282828;
    font-size: 21px;
  }
}
