<!--
  Generated template for the TrainingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation. navPop
-->
<ion-header>
  <ion-toolbar no-border-top class="ToolBarClass">
    <div class="ToolBarBackButton">
      <button  ion-button icon-only clear  (click)="goRegister()">
        <ion-icon name="ios-arrow-back-outline"></ion-icon>
      </button>
    </div>
    <div class="ToolBarTitle">
      <ion-title>
        <img src="images/head_logo.png" class="headLogo"  />
      </ion-title>
    </div>
  </ion-toolbar>
</ion-header>


<ion-content class="Content" align="center">

  <!-- <div class="backgroundImage">
    <img src="images/trainings_bck.jpg" class="imageclass"/>
  </div> -->
    <div style="width: 100%; margin-top: 15px;" align="center" (click)="gotoAddTraining()">
        <div style="width: 95%" align="center">
            <button ion-button block padding style="font-size: 22px; font-weight: bold">דווח אימון חדש</button>
        </div>
    </div>

  <div class="trainigInfo">
      <div class="trainingsTitle">
                רשימת האימונים שלי
      </div>
    <!--  -->
    <div class="TraningInfo" *ngFor="let training of TrainingsArray" >
        <div class="leftTraningInfo">
            {{changDateDirection(training.date)}}
        </div>
        <div  class="rightTraningInfo">
          {{ TrainingsTypes[training.type].title }}
        </div>
    </div>
  </div>


</ion-content>

<!--<ion-footer class="footerClass" (click)="gotoAddTraining()">-->
  <!--<img src="images/new_practise_button.jpg" class="imageclass"/>-->
<!--</ion-footer>-->
