<!--
  Generated template for the TrainingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-toolbar no-border-top class="ToolBarClass">

            <div class="ToolBarBackButton">
                <button  ion-button icon-only clear navPop>
                    <ion-icon name="ios-arrow-back-outline"></ion-icon>
                </button>
            </div>

        <div class="ToolBarTitle">
            <ion-title>
                <img src="images/head_logo.png" class="headLogo"  />
            </ion-title>
        </div>
        <ion-buttons end>
            <button (click)="photoOptions()" ion-button icon-only>
                <ion-icon name="md-camera"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content class="ContentClass">


    <div class="chatContent" id="chatContent" #scrollMe [scrollTop]="scrollMe.scrollHeight" style="padding-bottom: 70px;">

            <div class="chatMessage" id="chatMessage" *ngFor="let message of ChatArray">
                <div class="chatMessageRight">
                    <img *ngIf="message.image" src="{{phpHost+message.image}}" class="imageclass"/>
                    <img *ngIf="!message.image"  src="images/647_chat.jpg" class="imageclass"/>
                </div>
                <div [ngClass]="{'chatMessageLeft' : message.type != 2, 'chatMessageLeftBlue':message.type == 2}">
                    <div [ngClass]="{'chatTitle' : message.type != 2, 'chatTitleBlue':message.type == 2}" >
                        <div [ngClass]="{'chatTitleLeft' : message.type != 2, 'chatTitleLeftBlue':message.type == 2}" >
                            <p>{{getHour(message.date)}}</p>
                        </div>
                        <div [ngClass]="{'chatTitleRight' : message.type != 2, 'chatTitleRightBlue':message.type == 2}" >
                            <p *ngIf="message.type != 2">{{message.name}}</p>
                            <p *ngIf="message.type == 2"> {{message.name}} דווח ארוחה !!</p>
                        </div>
                    </div>
                    <p class="chatMessageLeftP" *ngIf="message.type != 3">{{message.title}}</p>
                    <p class="chatMessageLeftP" *ngIf="message.type == 3" (click)="enlargeImage(message.title)">
                        <img *ngIf="message.title" src="{{phpHost+message.title}}" class="photoImage2" imageViewer />
                    </p>
                </div>

            </div>
    </div>



</ion-content>

<ion-footer class="footerClass">
    <div class="chatFooterDiv" align="center">
        <div class="chatFooterDivRight">
            <ion-item align="center" class="TextContent">
                <!--<ion-textarea (input)="autoSize()" class="chatInput" id="myInput" rows="1"    autosize placeholder="הוסף הודעה" name="title"  [(ngModel)]="chatText" (keypress)="enterPress($event)"></ion-textarea>-->
                <ion-textarea (input)="autoSize();"  class="chatInput" rows="1"  autosize placeholder="הוסף הודעה" [(ngModel)]="chatText"></ion-textarea>
            </ion-item>
        </div>
        <div class="chatFooterDivLeft" (click)="addChatTitle(0)">
            <img src="images/addchat.png" class="imageclass"/>
        </div>

    </div>

</ion-footer>