page-chat {
  .footerClass {
    background: #414143;
    //height: 70px;
  }

  .chatFooterDiv {
    width: 100%;
    overflow: hidden;
    margin-bottom : 11px;
  }

  .chatFooterDivRight {
    float: right;
    width: 82%;
    margin-top: 12px;
    margin-right: 10px;
    text-align: right !important;
  }

  .backgroundImage
  {
    position: absolute;
    overflow: hidden;
    height: 100%;
  }

  .ContentClass
  {
    height: 100%;
    overflow: hidden;
    background-image: url('../images/trainings_bck.jpg');
    background-size:100% 100%;
    background-repeat: no-repeat;
  }

  .chatFooterDivLeft
  {
    float: left;
    width: 11.5%;
    margin-top: 11px;
    margin-left: 10px;
  }

  .chatContent
  {
      position: relative;
      text-align: center;
      margin-top: 20px;
      overflow-y: scroll;
  }

  .chatInput{
    text-align: right !important;
    direction: rtl;
    width: calc(100% - 10px);
  }

  .imageclass
  {
    width: 100%;
  }

  .chatMessage
  {
    width: 100%;
    overflow: hidden;
  }

  .chatMessageRight
  {
    float: right;
    margin-right: 10px;
    width: 20%;
  }

  .chatMessageRight img
  {
    border-radius: 50%;
  }

  .chatMessageLeft
  {
    float: right;
    margin-right: 10px;
    width: 70%;
    text-align: right;
    direction: rtl;
    background-color: white;
    border-radius: 3%;
    padding: 1px 10px;
    margin-top: 17px;
  }

  .chatMessageLeftBlue
  {
    float: right;
    margin-right: 10px;
    width: 70%;
    text-align: right;
    direction: rtl;
    background-color: #00b0eb;
    border-radius: 3%;
    padding: 1px 10px;
    margin-top: 17px;
    color: white;
  }



  .chatTitle
  {
    overflow: hidden;
    width: 100%;
  }

  .chatTitleBlue
  {
    overflow: hidden;
    width: 100%;
  }

  .chatTitleLeftBlue
  {
    width: 35%;
    float: left;
    text-align: left;
    padding-left: 5px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    margin-top: 5px;
  }

  .chatTitleLeft
  {
    width: 35%;
    float: left;
    text-align: left;
    padding-left: 5px;
    color: #855ba4;
    font-size: 12px;
    font-weight: bold;
    margin-top: 2px;
  }

  .chatTitleRight
  {
    width: 65%;
    float: right;
    color: #855ba4;
    font-size: 12px;
    font-weight: bold;
  }

  .chatTitleRightBlue
  {
    width: 65%;
    float: right;
    color: white;
    font-size: 15px;
    font-weight: bold;
  }

  .chatMessageLeftP
  {
    margin-top: -5px;
  }
}
