<!--
  Generated template for the PopupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content text-center>

    <ion-row>
        <ion-col text-right padding-right>
            <ion-icon name="close" style="font-size: 30px;" (click)="closeModal()"></ion-icon>
        </ion-col>
    </ion-row>

    <div class="div100"  align="center">
        <div class="div90">
             <img src="{{img_url}}" class="w100" />
        </div>
    </div>

</ion-content>
