page-popup
{
  ion-content {
    background: #000000 !important;
    opacity: 0.95;
    color: white !important;
  }

  .div90
  {
    width: 90%;
  }

  .div100 {
    margin-top: 30%;
    width: 100%;
  }

}

