<!--
  Generated template for the AddTrainingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar no-border-top class="ToolBarClass">
    <div class="ToolBarBackButton">
      <button  ion-button icon-only clear navPop>
        <ion-icon name="ios-arrow-back-outline"></ion-icon>
      </button>
    </div>
    <div class="ToolBarTitle">
      <ion-title>
        <img src="images/head_logo.png" class="headLogo"  />
      </ion-title>
    </div>
  </ion-toolbar>

</ion-header>


<ion-content >

  <div class="backgroundImage">
    <img src="images/add_training_bck.png" class="imageclass"/>
  </div>

  <div class="trainingText">
      <div class="add_new_Training">
                      דווח אימון חדש
      </div>

    <form #f="ngForm" class="Form"  (ngSubmit)="onSubmit(f)">
      <ion-list>

        <ion-item class="formElement">
          <ion-label>בחר תאריך</ion-label>
          <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="date" name="date"></ion-datetime>
        </ion-item>

        <ion-item class="formElement">
          <ion-label>בחר שעה</ion-label>
          <ion-datetime displayFormat="HH:mm " pickerFormat="HH mm " [(ngModel)]="time" name="time"></ion-datetime>
        </ion-item>

        <ion-item class="formElement" *ngIf="isDataAvailable">
          <ion-label>בחר סוג אימון</ion-label>
          <ion-select [(ngModel)]="type" name="type">
            <ion-option
              *ngFor="let option of TrainingsTypes let i=index"
              [value]=i>{{option.title}}</ion-option>
          </ion-select>
        </ion-item>

      </ion-list>

      <button type="submit" ion-button block>דווח </button>
    </form>
  </div>

  <!--
  <div class="footerImage">
    <img src="images/training_footer.png" class="imageclass"/>
  </div>
  -->
</ion-content>
