page-add-training {

  .footerImage
  {
    position: absolute;
    bottom: 0px;
    height:260px;
  }

  .trainingText {
    position: relative;
    margin-top: 20px;
  }

  .add_new_Training
  {
    position: relative;
    text-align: center;
    font-weight: bold;
    font-size:18px;
  }

  .backgroundImage
  {
    position: absolute;
  }

  .Form
  {
    direction: rtl !important;
    margin-top: 20px;
  }

  .formElement
  {
    background-color: inherit;
  }

  .footerClass
  {
    height:0px;
  }

  .footerClass img
  {
    top:0px;
    position: relative;
    width: 100%;
    height:10px;
  }
}


