 <!-- <ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>-->

<ion-content>
  <div>
      <div class="mainImage">
          <button no-padding ion-button><img (click)="onGoToAboutPage()" src="images/main1.jpg" style="width: 100%;" /></button>
      </div>
      <div class="mainImage" style="margin-top: 10px;">
          <button no-padding ion-button><img (click)="onGoToQuestion()" src="images/main2.jpg" style="width: 100%;" /></button>
      </div>
      <div class="mainImage" style="margin-top: 10px;">
          <button no-padding ion-button><img (click)="onGoToRegister()" src="images/main3.jpg" style="width: 100%;" /></button>
      </div>
  </div>
</ion-content>







