page-home {
  .mainImage
  {
    .item-inner
    {
      padding: 0 !important;
      margin: 0 !important;
    }

    ion-label
    {
      margin: 0px !important;
    }

    .button-md , .button-ios
    {
      height:auto !important;
      width: 100%;
      margin: 0px !important;
      padding: 0px;
    }
  }
}
