page-questions {
  .backgroundImage
  {
    position: absolute;
  }

  .QuestionInfo
  {
    position: relative;
    text-align: center;
    margin-top: 20px;
    width: 100%;
  }

  .QuestionTitle
  {
    font-size: 28px;
    font-weight: bold;
    color: #00b0eb;
  }

  .IntroQuestion
  {
    font-size: 18px;
    direction: rtl;
    font-weight: 100;
  }

  .IntroButton
  {
    margin-top: 50px;
    width: 50%;
  }

  .CheckBoxDiv
  {
    direction: rtl !important;
    margin-top: 20px;
  }

  .CheckBoxDivElement
  {
    background-color: inherit;
  }

  .AboutInfo
  {
    position: relative;
    text-align: center;
    margin-top: 0px;
    padding: 0px;
    margin: 0px;
    margin-top: -5px;
  }

  .AboutTitle {
    font-size: 28px;
    font-weight: bold;
    color: #00b0eb;
  }

  .backgroundImage
  {
    position: absolute;
  }

  .slides
  {
    height: auto;
  }

  .AboutText
  {
    overflow: hidden;
    width: 100%;
  }

  .AboutTextLeft
  {
    float: left;
    width: 35%;
    position: absolute;
    margin-top: -30px;
  }

  .AboutTextRight
  {
    float: right;
    width: 70%;
    text-align: right;
    direction: rtl;
    padding: 15px;
  }

  .QuestionText
  {
    font-weight: bold;
    padding: 0px 50px;
    font-size: 16px;
  }

  .AnswerLabel
  {
    padding: 0 15px;
  }


  .loginTitle
  {
    text-align: center;
    color:#022850;
    font-size:22px;
    font-weight: bold;
    font-family:Arial;
    padding-top: 25px;
  }

  .InputsText
  {
    width: 100%;
    margin-top: 10px;
  }

  .InputText
  {
    width: 90%;
  }

  .register
  {
    position: relative;
    top:15px;
    font-size: 15px;
  }

  .InputText input,textarea
  {
    width: 100%;
    text-align: right;
    padding: 7px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-top: 10px;
  }

  //.loginButton
  //{
  //  width: 90%;
  //  margin-top: 20px;
  //  background-color: #022850;
  //}

  .selectRegion
  {
    direction: rtl;
    width: 90%;
    border: 1px solid #ccc;
    margin-top: 10px;
    border-radius: 8px;
    padding: 0px !important;
    height: 12px;
    background-color: white;
  }
}
