
<ion-header>
  <ion-toolbar no-border-top class="ToolBarClass">
    <div class="ToolBarBackButton">
      <button  ion-button icon-only clear navPop>
        <ion-icon name="ios-arrow-back-outline"></ion-icon>
      </button>
    </div>
    <div class="ToolBarTitle">
      <ion-title>
        <img src="images/head_logo.png" class="headLogo"  />
      </ion-title>
    </div>
  </ion-toolbar>
</ion-header>


<ion-content>

    <ion-slides autoplay="3000" loop="true" speed="500" class="slides" effect="coverflow"  pager="true">
        <ion-slide>
            <img src="images/home/s6.jpg" style="width:100%;" />
        </ion-slide>
        <ion-slide>
            <img src="images/home/s2.jpg" style="width:100%" />
        </ion-slide>
        <ion-slide>
            <img src="images/home/s3.jpg" style="width:100%" />
        </ion-slide>
        <ion-slide>
            <img src="images/home/s4.jpg" style="width:100%;" />
        </ion-slide>
        <ion-slide>
            <img src="images/home/s5.jpg" style="width:100%" />
        </ion-slide>
        <ion-slide>
            <img src="images/home/s1.jpg" style="width:100%" />
        </ion-slide>
    </ion-slides>

  <div class="backgroundImage">
    <img src="images/trainings_bck.jpg" class="imageclass"/>
  </div>



  <!-- QuestionInfo  -->
  <div class="QuestionInfo">
    <div class="QuestionTitle">
בדיקת התאמה
    </div>

    <!-- Intro Quiz -->
    <div class="IntroQuestion" *ngIf="QuestionCounter == -1 && !isAnswered">
        <div style="font-weight: bold;"><br>  <span style="font-weight: bold; color: #1fbbf1"> 647</span> הינה תוכנית לכושר ותזונה המובילה<br>אנשים לשינוי בדרך החיים שלהם.
            <br>            על מנת להשתתף בתוכנית <br>      עליך לענות על השאלות הבאות    <br></div>
        <button ion-button class="IntroButton" (click)="questionClicked()">בדוק התאמה</button>
    </div>

    <!-- Question Quiz -->
    <div class="Question" *ngIf="QuestionCounter > -1 && !isAnswered">
      <div class="QuestionText">{{QuestionsArray[QuestionCounter].title}}</div>
      <ion-list class="CheckBoxDiv" radio-group [(ngModel)]="AnswerArray[QuestionCounter]">
        <ion-item class="CheckBoxDivElement">
          <ion-label class="AnswerLabel">{{QuestionsArray[QuestionCounter].answer1}}</ion-label>
          <ion-radio value=1 checked = "false"></ion-radio>
        </ion-item>
        <ion-item class="CheckBoxDivElement">
          <ion-label class="AnswerLabel">{{QuestionsArray[QuestionCounter].answer2}}</ion-label>
          <ion-radio value=2 checked = "false"></ion-radio>
        </ion-item>
        <ion-item class="CheckBoxDivElement">
          <ion-label class="AnswerLabel">{{QuestionsArray[QuestionCounter].answer3}}</ion-label>
          <ion-radio value=3 checked = "false"></ion-radio>
        </ion-item>
        <ion-item class="CheckBoxDivElement">
          <ion-label class="AnswerLabel">{{QuestionsArray[QuestionCounter].answer4}}</ion-label>
          <ion-radio value=4 checked = "false"></ion-radio>
        </ion-item>
      </ion-list>
      <button ion-button class="IntroButton" (click)="questionClicked()">לשאלה הבאה</button>
    </div>

    <!-- End Quiz -->
    <div class="IntroQuestion" *ngIf="isAnswered == true">
      <div *ngIf="Score < 12"><br>נמצאת מתאים להשתתף בתכנית<br>אנא מלא את הפרטים בטופס שלפניך<br>ונציג <span style="color: #56c9ef; font-weight:bold" >647</span> יחזור אליך</div>
        <div *ngIf="Score > 11"><br>נראה שאתה עדיין לא נחוש<br>אנא מלא את הטופס שלפניך  <br>ונציג מטעמנו יבחן את השתתפותך בתכנית</div>
        <!--<button ion-button class="IntroButton" (click)="endQuiz()">שלח תוצאות</button>-->

        <div class="loginMain patternBackground">
            <div class="loginTitle">
                צור קשר
            </div>
            <div class="InputsText" align="center">
                <div class="InputText">
                    <input type="text" placeholder=" שם מלא" [(ngModel)]="Contact.name" />
                </div>
                <div class="InputText mt10">
                    <input type="text" placeholder=" מספר טלפון" [(ngModel)]="Contact.phone" />
                </div>
                <div class="InputText mt10">
                    <input type="text" placeholder=" אימייל" [(ngModel)]="Contact.mail" />
                </div>
                <div class="InputText mt10">
                    <textarea [(ngModel)]="Contact.details" name="info" placeholder=" קצת פרטים עלייך" rows="4"></textarea>
                </div>

                <button ion-button class="IntroButton" (click)="SendForm()">שלח פרטים</button>
            </div>
        </div>
    </div>

  </div>
</ion-content>
