<!--
  Generated template for the ChatModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar no-border-top class="ToolBarClass">

    <div class="ToolBarBackButton">
      <button  ion-button icon-only clear navPop>
        <ion-icon name="ios-close-circle" (click)="closeImageModal()"></ion-icon>
      </button>
    </div>

  </ion-toolbar>
</ion-header>


<ion-content >


  <div style="width:100%; margin-top:55px;" align="center">

    <!--
      <zoom-area>
        <img  src="{{phpHost+imagePath}}" style="width:100%;"/>
      </zoom-area>
  -->

    <img  src="{{phpHost+imagePath}}" style="width:100%;" imageViewer  />


  </div>



</ion-content>
