<!--
  Generated template for the MealsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-toolbar no-border-top class="ToolBarClass">
        <div class="ToolBarBackButton">
            <button ion-button icon-only clear navPop>
                <ion-icon name="ios-arrow-back-outline"></ion-icon>
            </button>
        </div>
        <div class="ToolBarTitle">
            <ion-title>
                <img src="images/head_logo.png" class="headLogo"/>
            </ion-title>
        </div>
    </ion-toolbar>
</ion-header>


<ion-content  class="Content">

    <!-- Title Text -->
        <!--<div class="MealsInfo">-->
            <!--<div class="MealsTitle">-->
               <!--בחירת ארוחות-->
            <!--</div>-->
        <!--</div>-->
    <div class="filterRight" style="width: 98%; margin: 0 auto; ">
        <ion-searchbar [(ngModel)]="mealName"  (ionInput)="setFilteredItems($event)" placeholder="חפש מנה" style="text-align: right !important; direction: rtl !important;"></ion-searchbar>
    </div>
        <!-- Tabs    -->
        <div class="TabsButton" align="center" *ngIf="isDataAvailable">
            <div class="TabsButtonDiv">
                <div *ngIf="MenuLimits[mealNum][0].qnt > -1 " class="TabsButtonLeft">
                    <button ion-button
                            [ngClass]="{'PersonalSelected' : (tabNum == 0), 'GroupSelected':(tabNum != 0)}"
                            (click)="changeTab(MealsTypesArray[0].id,0)" full>{{MealsTypesArray[0].title}} - {{MenuLimits[mealNum][0].qnt}}
                    </button>
                </div>
                <div *ngIf="MenuLimits[mealNum][2].qnt > -1 " class="TabsButtonRight">
                    <button ion-button
                            [ngClass]="{'PersonalSelected' : (tabNum == 2), 'GroupSelected':(tabNum != 2)}"
                            (click)="changeTab(MealsTypesArray[2].id,2)" full>{{MealsTypesArray[2].title}} - {{MenuLimits[mealNum][2].qnt}}
                    </button>
                </div>
                <div *ngIf="MenuLimits[mealNum][1].qnt > -1" class="TabsButtonCenter">
                    <button ion-button
                            [ngClass]="{'PersonalSelected' : (tabNum == 1), 'GroupSelected':(tabNum != 1)}"
                            (click)="changeTab(MealsTypesArray[1].id,1)" full>{{MealsTypesArray[1].title}} - {{MenuLimits[mealNum][1].qnt}}
                    </button>
                </div>
                <div *ngIf="MenuLimits[mealNum][3].qnt > -1" class="TabsButtonRight">
                    <button ion-button
                            [ngClass]="{'PersonalSelected' : (tabNum == 3), 'GroupSelected':(tabNum != 3)}"
                            (click)="changeTab(MealsTypesArray[3].id,3)" full>{{MealsTypesArray[3].title}} - {{MenuLimits[mealNum][3].qnt}}
                    </button>
                </div>
            </div>
        </div>


    <!-- Meals Checkbox -->
    <div class="Question">
        <ion-list class="CheckBoxDiv" radio-group [(ngModel)]="relationship" *ngIf="isDataAvailable">
            <div *ngFor="let item of items let i=index">
                <!-- [ngClass]="item.selected[mealNum].selected ? 'zindexSelected' : 'zindexNonSelected'" -->
                <ion-item class="CheckBoxDivElement">
                    <ion-checkbox (ionChange)="itemClicked(mealNum,item.id,i)"  [(ngModel)]="item.selected[mealNum].selected"></ion-checkbox>
                    <ion-label class="titleLable">
                        {{item.title}}
                        <p class="mealTitle">  גודל מנה :  {{item.description}}   </p>
                    </ion-label>

                    <ion-label *ngIf="item.selected[mealNum].selected" (click)="qntAlert(i)" item-end ion-button
                               class="MealsSelected">{{item.selected[mealNum].qnt}} מנות
                    </ion-label>

                    <!-- <ion-select  *ngIf="item.selected[mealNum].selected" (ionChange)="selectedClicked()" class="MealsSelected" [(ngModel)]="item.selected[mealNum].qnt" cancelText="בטל" okText="בחר" style="z-index:0;" >
                          <ion-option class="MealsSelected" value=1 >&nbsp;  מנה 1  &nbsp; &nbsp;</ion-option>
                          <ion-option class="MealsSelected" value=2>2 מנות   &nbsp; &nbsp;</ion-option>
                          <ion-option class="MealsSelected" value=3 >3 מנות  &nbsp; &nbsp;</ion-option>
                      </ion-select> -->
                </ion-item>
            </div>
        </ion-list>
        <!-- <button ion-button class="IntroButton" (click)="questionClicked()">לשאלה הבאה</button> -->
    </div>
</ion-content>

    <ion-footer class="footerClass" >
        <table>
            <tr>
                <td (click)="CancelMeal()">
                    <img src="images/s2.png" class="imageclass"/>
                </td>
                <td (click)="SaveMeal(mealNum)" >
                    <img src="images/s1.png" class="imageclass"/>
                </td>
            </tr>
        </table>
    </ion-footer>



