


page-meals-menu {
  .Content
  {
    background-image: url('../images/menu_bck.jpg');
    background-size:100% 100%;
    background-position: 0px 50px;
    background-repeat: no-repeat;
  }

  .MealsInfo
  {
    position: relative;
    text-align: center;
    margin-top: 20px;
  }

  .MealsTitle {
    font-size: 28px;
    font-weight: bold;
    color: #00b0eb;
  }

  .backgroundImage
  {
    position: absolute;
    height: 100%;
    overflow: hidden;
  }


  .TabsButtonDiv
  {
    width: 90%;
    overflow: hidden;
    margin-top:0px;
    position:relative;
    margin-right: 4px;
  }

  .TabsButtonLeft
  {
    width: 20%;
    float: right;
    margin-left: 2%;
    margin-right: 2%;
  }

  .TabsButtonDiv button
  {

  }

  .TabsButtonRight
  {
    width: 23%;
    float: right;
    margin-left: 1%;
    margin-right: 1%;
    font-size: 10px !important;
  }

  .TabsButtonRight button
  {
    font-size: 13px !important;
    padding: 0px;
  }

  .TabsButtonCenter button
  {
    font-size: 13px !important;
    padding: 0px;
  }

  .TabsButtonLeft button
  {
    font-size: 13px !important;
    padding: 0px;
  }

  .TabsButtonCenter
  {
    width: 20%;
    margin-left: 2%;
    margin-right: 2%;
    float: right;
  }

  .TabsButton
  {
    width: 100%;
    position:relative;
  }

  .Question
  {
    position: relative;
    height: 0px;
    margin-top: -20px;
    /*overflow-y: scroll;*/
  }


  .CheckBoxDiv
  {
    direction: rtl !important;
    margin-top: 20px;
  }

  .CheckBoxDivElement
  {
    background-color: inherit;
  }

  .footerClass
  {
    height:50px;
  }

  .footerClass img
  {
    top:0px;
    position: relative;
    width: 100%;
    height:50px;
  }

  .PersonalSelected
  {
    background-color: #003a48 !important;
  }

  .GroupSelected
  {
    background-color: #57caf0 !important;
  }

  .mealTitle
  {
    direction: rtl;
    text-align: right;
    font-size: 12px;
  }

  .MealsSelected
  {
    direction: rtl !important;
    text-align: right !important;
    padding: 12px;
    width: 20%;
    z-index: 0;
  }

  .zindexSelected
  {
    z-index:-1;
    width: 30px;
  }

  .zindexNonSelected
  {
    z-index:100;
    width: 30px;
  }

  .titleLable
  {
    min-width: 60%;
    direction: rtl;
    text-align: right;
  }

}

.alertQnt
{
  direction: rtl;
  text-align: right;
  padding: 20px;
}

.alertQnt .alert-radio
{
  padding-right:30px;
}

