page-meals {
  .MealsInfo
  {
    position: relative;
    text-align: center;
    margin-top: 20px;
  }

  .MealsTitle {
    font-size: 28px;
    font-weight: bold;
    color: #00b0eb;
  }

  .backgroundImage
  {
    position: absolute;
  }

  .scrollTitle
  {
    height: 100%;
    overflow: scroll;
    padding-bottom: 20px;
  }
  .dailyMeals
  {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-top: 20px;
  }

  .dayMealDiv
  {
    width: 100%;
    margin-top: 10px;
  }

  .dayMeal
  {
    border: 3px solid #00b0eb;
    overflow: hidden;
    width: 80%;
    color:#00b0eb;
    padding-bottom: 10px;
  }

  .dayMeal_full
  {
    border-bottom: 6px solid #414143;
    overflow: hidden;
    width: 80%;
    padding-bottom: 20px;
    color: white;
    background-color: #00b0eb;
  }

  .dayMeal_block
  {
    border-bottom: 6px solid #414143;
    overflow: hidden;
    width: 80%;
    padding-bottom: 20px;
    color: white;
    background-color:#d4d4d4;
  }

  .dayMealRight
  {
    padding: 14px;
    width: 67%;
    float: right;
    text-align:right;
    font-size:20px;
    font-weight: bold;
    overflow: hidden;
  }

  .dayMealLeft
  {
    padding: 0px;
    padding-left: -10px;
    width: 12%;
    float: left;
    font-size:20px;
    margin-top:3px;
    margin-left:2%;
    font-weight: bold;
  }

  .dayMealLeftBlock
  {
    width: 30%;
    float: left;
    margin-top:20px;
    padding: 10px;
  }

  .dayMealIcon
  {
    font-size: 30px;
    color: black;
    margin-top: 10px;
    margin-left: -7px;
  }

  .dayMealIconBlock
  {
    font-size: 44px;
    color: white;
    margin-left: -7px;
  }

  .editMeal
  {
    font-size: 10px;
    color: black;
    margin-top:0px;
    text-align: center;
  }

  .editMeal_white
  {
    font-size: 10px;
    color: white;
    margin-top:0px;
    text-align: center;
  }


  .dayMealIcon_white
  {
    font-size: 30px;
    color: white;
    margin-top: 10px;
    margin-left: -7px;
  }

  .mealsubDiv
  {
    margin: -5px 1px 15px 1px;
    width: 100%;
  }

  .MealsSubtitle
  {
    overflow: hidden;
    font-size: 13px;
    text-align: right;
    margin: 0px 1px;
    direction: rtl;
    color: white;
    margin-right: 2px;
  }

  .MealsSubtitle span
  {
    float: right;
    width:10px;
  }

  .divMealContent
  {
    overflow: hidden;
    width: 100%;
  }

}
