<!--
  Generated template for the MealsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-toolbar no-border-top class="ToolBarClass">
        <div class="ToolBarBackButton">
            <button ion-button icon-only clear (click)="gotoRegister()">
                <ion-icon name="ios-arrow-back-outline"></ion-icon>
            </button>
        </div>
        <div class="ToolBarTitle">
            <ion-title>
                <img src="images/head_logo.png" class="headLogo"/>
            </ion-title>
        </div>
    </ion-toolbar>
</ion-header>


<ion-content>

    <div class="backgroundImage" >
        <img src="images/menu_bck.jpg" class="imageclass"/>
    </div>

    <div class="scrollTitle">
      <!--  <div class="MealsInfo" (click)="showPopup()">
            <div class="MealsTitle">
                דווח ארוחות
            </div>
        </div> -->

        <div class="dailyMeals">
            <div class="dayMealDiv" *ngFor="let meal of MealsTitle let i=index" align="center">
                <div [ngClass]="{'dayMeal' : (getCountArray(i) == 0), 'dayMeal_full':(getCountArray(i) > 0), 'dayMeal_block':(getCountArray(i) == -1)}"
                     class="dayMeal">
                    <div class="divMealContent">
                        <div class="dayMealRight"  (click)="gotoMenuMeals(i)">
                            {{meal}}
                            <div class="MealsSubtitle">
                                {{getSelectedProductes(i)}}
                            </div>
                        </div>
                        <div  [ngClass]="{'dayMealLeft' : (getCountArray(i) == 0), 'dayMealLeftBlock':(getCountArray(i) == -1)}">
                            <div *ngIf="getCountArray(i) == 0">
                                <button ion-button="" clear  (click)="gotoMenuMeals(i)">
                                    <ion-icon [ngClass]="{'dayMealIcon' : (getCountArray(i) == 0), 'dayMealIcon_white':(getCountArray(i) > 0)}" name="ios-create-outline"></ion-icon>
                                </button>
                            </div>

                            <div *ngIf="getCountArray(i) == -1">
                                <button ion-button="" clear >
                                    <ion-icon [ngClass]="{'dayMealIconBlock' : (getCountArray(i) == -1)}" name="ios-lock-outline"></ion-icon>
                                </button>
                                <div [ngClass]="{'editMeal' : (getCountArray(i) == 0), 'editMeal_white':(getCountArray(i) > 0)}" ></div>
                            </div>
                        </div>
                        <div class="dayMealLeft">
                            <button ion-button="" clear *ngIf="getCountArray(i) > 0" (click)="acceptMeal(i)">
                                <ion-icon [ngClass]="{'dayMealIcon' : (getCountArray(i) == 0), 'dayMealIcon_white':(getCountArray(i) > 0)}" name="ios-checkmark-circle-outline"></ion-icon>
                            </button>
                            <div *ngIf="getCountArray(i) > 0" class="editMeal_white">אשר ארוחה</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</ion-content>
